@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


    [theme-mode="light"] {
        
        --backGroundColor:hsl(0, 0%, 98%);
        --elementColor:hsl(0, 0%, 100%);
        --inputColor:hsl(0, 0%, 52%);
        --textColor:hsl(200, 15%, 8%);
    }
    [theme-mode="dark"] {
        --backGroundColor:hsl(207, 26%, 17%);
        --elementColor:hsl(209, 23%, 22%);
        --inputColor:hsl(0, 0%, 52%);
        --textColor:hsl(0, 0%, 100%);
    }
    body {
        background-color: var(--backGroundColor);
    }
    


